 /*for footer*/
 *{
 	margin: 0px;
 	padding: 0px;
 	box-sizing: border-box;
 }
a{
	text-decoration: none;
	outline: none;
}
 .footer-main-div{
 	width: 100%;
 	height: auto;
 	width: auto;
 	background: #272727;
 	padding: 20px 0px;
 } 
 .footer-social-icons ul{
 	margin: 0px;
 	padding:  0px;
 	text-align: center;
 } 
 .footer-social-icons ul li{
 	display: inline-block;
 	width: 50px;
 	height: 50px;
 	margin: 0px 10px;
 	border-radius: 100%;
 	background: #32CD32;
 }
 .footer-social-icons ul li a{
 	color: #272727;
 	font-size: 25px;
 	display:block; 
 }
 .footer-social-icons ul li a i{
 	line-height: 50px;
 }
 .footer-menu-one{
 	width: 100%;
 	height: auto;
 	margin:  auto;
 }
 .footer-menu-one ul{
 	margin: 0px;
 	padding: 0px;
 	text-align: center;
 }
 .footer-menu-one ul li{
 	display: inline-block;
 	margin: 0px 5px; 
 } 
 .footer-menu-one ul li a{
 	font-family: arial;
 	font-size: 20px;
 	font-weight: 600;
 	color: #fff;
 	text-transform: uppercase;
 }
 <script style="text-align: right;">
				var d = new Date();
				document.getElementById("demo").innerHTML = d;
     </script>